
extends layout

block content
    div.row.justify-content-md-center
        if errors
            each error in errors
                div(class="alert alert-warning alert-dismissible fade show" role="alert")= error.msg
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;
        if success_msg != ''
            iv(class="alert alert-success alert-dismissible fade show" role="alert")= success_msg
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
        if error != ''
             div(class="alert alert-warning alert-dismissible fade show" role="alert")= error
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
    div(style="margin:auto;text-align:center;")
        form(method='post' action='/users/login' style="display:inline-block;")
            h1.h3.mb-3.font-weight-normal 로그인을 해주세요
            br
            input.form-control.mt-sm-3(name='email' type='email' placeholder='Email address' required='' autofocus='')
            input.form-control.mt-sm-3(name='password' type='password' placeholder='Password' required='')
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인